<div class="footer">
  <div class="footer-blocks">
          <img src="../assets/image/footerimage2.jpg" alt="footerbackground-image" class="footerbackground-image">

    <div class="footer-block">
      <div class="logo-img">
        <img src="../assets/image/logo - Copy.jpg" class="acceedo-icon-contact" width="50%">
      </div>
      
      <div class="explore-block">
        <div class="explore">
          <h2>Explore</h2>
          <ul class="explore1">
            <li class="exploretx"><a href="">Product</a></li>
            <li class="exploretx"><a href="">Service</a></li>
            <li class="exploretx"><a href="">Portfolio</a></li>
            <li class="exploretx"><a href="">Careers</a></li>
            <li class="exploretx"><a href="">About us</a></li>
          </ul>
        </div>
      </div>
      <div class="contact-detils">
        <h2>contact</h2>

        <div class="contact-details-tx1">
          <div class="icon1">
            <mat-icon>location_on</mat-icon>
          </div>
          <div class="deatils">
            <div>Plot No : 9A, Private Industrial Estate Kurichi,Coimbatore,<br>
              TamilNadu-641021
            </div>
          </div>
          <div class="phone-icon">
            <mat-icon>phone</mat-icon>
          </div>
          <div class="deatils">
            <div>
              +91 422 4511400
            </div>
          </div>
        </div>

        <div class="social-icons">
          <a href="https://www.google.co.in/" target="_blank">
            <img src="../assets/image/mail.png" alt="mail" style="width: 30px;">
          </a>
          <a href="https://www.google.co.in/" target="_blank">
            <img src="../assets/image/facebook.png" alt="facebook" style="width: 30px;">
          </a>
          <a href="https://www.google.co.in/" target="_blank">
            <img src="../assets/image/linkedin.png" alt="linkedin" style="width: 30px;">
          </a>
          <a href="https://www.google.co.in/" target="_blank">
            <img src="../assets/image/twitter.png" alt="twitter" style="width: 30px;">
          </a>

        </div>
      </div>
    </div>
  </div>
</div>