<div class="technology-section">
    <div class="technology-header">
        <div class="section-title">Our Technologies</div>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="inner-width">

        <!-- <div class="border"></div> -->


        <div class="technology-container">
            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-paint-brush"></i>
                </div>
                <div class="technology-title">Web Design</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>

            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="technology-title">Web Development</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>

            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="technology-title">Responsive Design</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>


            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-info"></i>
                </div>
                <div class="technology-title">Edit Sections</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>

            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="technology-title">Database</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>
            <div class="technology-box">
                <div class="technology-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="technology-title">Android</div>
                <div class="technology-desc">
                    A paragraph is a self-contained unit of discourse in <br>writing dealing with a particular point or
                    idea.<br>
                    A paragraph consists of one or more sentences.
                </div>

            </div>
        </div>

    </div>
</div>