<div class="about-us">
    <div class="heading">who we are</div>
    <div class="line">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="content">
        <p>
            <b>Acceedo Softwares</b> is one of the ethical and innovative company based out in India in this technology field.
            Most of our solutions are based out in open-source and non-license based, which is very ideal for the
            companies..
        </p>
           </div>
    <div class="culture">
        <div class="culture-content">
            <div class="content-block">
                <div class="block">
                    <img class="img-block1" src="../assets/image/predictability.svg" alt="logo" >
                    <p class="tx">
                        We are improving the manufacturing industry by giving manufacturers, more visibility throughout the
                        manufacturing process and by making data immediately available to multiple data consumers and applications.
                    </p>
                </div>
                <div class="block2">
                    <img class="img-block2" src="../assets/image/union.svg" alt="logo" >

                    <p class="tx">
                        We are improving the manufacturing industry by giving manufacturers, more visibility throughout the
                        manufacturing process and by making data immediately available to multiple data consumers and applications.
                    </p>
                    <!-- <img class="img-block2" src="../assets/image/union.svg" alt="logo" style="width: 30%;"> -->
                </div>
                <div class="block">
                    <img class="img-block1" src="../assets/image/opinion.svg" alt="logo" >
                    <p class="tx">
                        We are improving the manufacturing industry by giving manufacturers, more visibility throughout the
                        manufacturing process and by making data immediately available to multiple data consumers and applications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>