<div class="portfolio-header">
    <div class="portfolio-header-section">
        <div class=heading>Our Team</div>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- <div class="border"></div> -->
    </div>
    <div class="portfolio-section">

        <div class="sub-portfolio-header">
            <div class="teams">
                <img src="../assets/image/female.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">Rose</div>
                    <div class="designation">Software Developer</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>

            </div>
            <div class="teams">
                <img src="../assets/image/profile.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">Max</div>
                    <div class="designation">Web Designer</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>

            </div>
            <div class="teams">
                <img src="../assets/image/male.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">jack</div>
                    <div class="designation">video Editor</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>

            </div>
            <div class="teams">
                <img src="../assets/image/profile.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">Max</div>
                    <div class="designation">Web Designer</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>

            </div>
            <div class="teams">
                <img src="../assets/image/male.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">jack</div>
                    <div class="designation">video Editor</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="teams">
                <img src="../assets/image/female.svg" alt="profile-image ">
                <div class="team">
                    <div class="name">Rose</div>
                    <div class="designation">Software Developer</div>
                    <div class="about">Software developers conceive of, design, and build computer programs.</div>
                    <div class="social-link">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>