<div class="product-page-header">
  <div class="product-header-section">
    <div class="heading">Our Product</div>
    <div class="line">
      <div></div>
      <div></div>
      <div></div>
  </div>
    <!-- <div class="border"></div> -->
  </div>
  <div class="product-header">
    
    <div class="product-block1">
      <div class="product-title">camshaft angle monitoring system</div>
      <div class="product-block-subheader">
        <img class="product-image1" src="../assets/image/cam.jpg">
        <div class="product-description">
          CamShaft Angle Monitoring System to Measure the angle of cam shaft with 0.5mm precision level, with reference
          to
          the given graph form computer, we can measure the Camshaft profile, check whether the casting dimension within
          the
          specification and to Control the product quality.
        </div>
      </div>
    </div>
    <!-- <product-block *ngFor></product-block> -->

    <div class="product-block2">
      <div class="product-title">coreshooter</div>
      <div class="product-block-subheader2">
        <div class="product-description">
          Core shooter Process Control and Monitor is a product used in foundry for the process of core production; the
          machine has been controlled by our product, previously the machine has been manually operated by the operator,
          we
          have to take a note of the Product count, Rejection count, Temperature, Idle time, On/Off time. We have also
          made
          the operating inputs for the machine automatically through internet.
        </div>
        <img class="product-image1" src="../assets/image/coreshooter1.jpg">
      </div>
    </div>

    <div class="product-block1">
      <div class="product-title">heat-treatment</div>
      <div class="product-block-subheader">
        <img class="product-image1" src="../assets/image/heat-treatment.jpg">
        <div class="product-description">
          Heatreatment is a product used in foundry for the process of casting Heatreatment; the machine has been
          controlled
          by our product, previously the machine has been manually operated by the operators, which the user has to set
          the
          temperature for every process so that the machine can operate.
        </div>
      </div>
    </div>
    <div class="product-block2">
      <div class="product-title">machineshop</div>
      <div class="product-block-subheader2">
        <div class="product-description">
          Machines Shop helps the field engineers and supervisors in your factory to perform Quality Checks on all
          machinery
          parts/products/processes digitally and in real time eradicating the need of papers and help with a stringent
          process control.
        </div>
        <img class="product-image1" src="../assets/image/machine shop.jpg">
      </div>
    </div>
    <div class="product-block1">
      <div class="product-title">machine monitoring system</div>
      <div class="product-block-subheader">
        <img class="product-image1" src="../assets/image/machine monitoring system image.jpeg">
        <div class="product-description">
          MMS Provides the interaction of the machine with the software the details obtained from the machine is given
          to
          the software, where the data are categorized into their respective details along with the report generation
          for
          the machines and it can be accessed by the PC’s.
        </div>
      </div>
    </div>
    <div class="product-block2">
      <div class="product-title">temparature monitoring</div>
      <div class="product-block-subheader2">
        <div class="product-description">
          Wireless temperature monitoring system (WTMS), for shell moulding machine is used to set and monitor the
          temperature remotely through internet.
        </div>
        <img class="product-image1" src="../assets/image/temparature monitoring.jpg">
      </div>
    </div>

  </div>
</div>