<section class="contact-section">
    <div class="contact-bg">
        <div class="heading">contact us</div>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="text">If you have any qusetions or queries a member of staff will always be happy to help.
            Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.
        </p>
    </div>


    <div class="contact-body">
        <div class="contact-info">
            <div>
                <mat-icon style="color: rgba(34, 167, 240, 1);">phone_iphone</mat-icon>
                <span>Phone No.</span>
                <span class="text">+91 422 4511400</span>
            </div>
            <div>
                <mat-icon style="color: rgba(34, 167, 240, 1);">mail</mat-icon>
                <span>E-mail</span>
                <span class="text">info@acceedo.in</span>
            </div>
            <div>
                <mat-icon style="color: rgb(34, 167, 240, 1);">place</mat-icon>
                <span>Address</span>
                <span class="text">9A, Private Industrial Estate, Kuruchi, Coimbatore-641021.</span>
            </div>
            <div>
                <mat-icon style="color: rgba(34, 167, 240, 1);">query_builder</mat-icon>
                <span>Opening Hours</span>
                <span class="text">Monday - Saturday (9:00 AM to 5:30 PM)</span>
            </div>
        </div>
        <div class="contact-form">

            <form>
                <div>
                    <input type="text" class="form-control" placeholder="First Name">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <div>
                    <input type="email" class="form-control" placeholder="E-mail">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>
                <textarea rows="5" placeholder="Message" class="form-control"></textarea>
                <input type="submit" class="send-btn" value="send ">
            </form>
        </div>
    </div>

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.3344250979685!2d76.97716591475964!3d10.938090859179876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85b4f98f0614b%3A0xa0b6ead610e45111!2sACCEEDO%20LLP%20Limited!5e0!3m2!1sen!2sin!4v1637920152423!5m2!1sen!2sin"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>

    <div class="contact-footer">
        <div class="social-media-heading">Follow Us</div>
        <!-- <div class="social-links">
            <a href="https://www.google.co.in/" target="_blank">
                <img src="../assets/image/mail.png" alt="mail" style="width: 30px;">
            </a>
            <a href="https://www.google.co.in/" target="_blank">
                <img src="../assets/image/facebook.png" alt="facebook" style="width: 30px;">
            </a>
            <a href="https://www.google.co.in/" target="_blank">
                <img src="../assets/image/linkedin.png" alt="linkedin" style="width: 30px;">
            </a>
            <a href="https://www.google.co.in/" target="_blank">
                <img src="../assets/image/twitter.png" alt="twitter" style="width: 30px;">
            </a>
        </div> -->
        <div class="social-links">
            <a href="https://www.google.co.in/" target="_blank"><i class="fa fa-envelope" ></i></a>
            <a href="https://www.facebook.com/acceedo.l.7/about" target="_blank"><i class="fa fa-facebook" ></i></a>
            <a href="https://www.google.co.in/" target="_blank"><i class="fa fa-twitter" ></i></a>
            <a href="https://www.google.co.in/" target="_blank"><i class="fa fa-linkedin" ></i></a>
            <a href="https://www.google.co.in/" target="_blank"><i class="fa fa-github" ></i></a>
        </div>
    </div>
</section>