<div class="home-page">
  <div class="home-page-sections">
    <div class="home-page-section1">
      <img class="section-bg-image1" src="../assets/image/ai-capablities-min.jpg" alt="section-background-image">
      <div class="text-box">

        <div class="heading">world's biggest web</div>

        <div class="home-page-description">A paragraph is a self-contained unit of discourse in writing dealing with a
          particular point or idea.
          A paragraph consists of one or more sentences.
        </div>

        <a class="hero-btn" href="">Discover More</a>
      </div>
    </div>
    <div class="home-page-section2">
      <div class="section2-header">Technology</div>
      <div class="team-area">

        <div class="single-team">
          <img src="../assets/image/web-developer.svg">
          <div class="team-text"></div>
        </div>

        <div class="single-team">
          <img src="../assets/image/iot.svg">
          <div class="team-text"></div>
        </div>

        <div class="single-team">
          <img src="../assets/image/industrial-4.o.svg">
          <div class="team-text"></div>
        </div>
      </div>
    </div>
    <div class="home-page-section3">
      <div class="section3-header">our prestigious clients</div>
      <div class="clients-carousel">
        <carousel [images]="images" [height]="100" [autoplay]="true" [autoplayInterval]="500" [pauseOnHover]="true"
          [loop]="true" [arrows]="false">
        </carousel>
      </div>
    </div>

    <!-- <div class="container2">
      <div class="techheader">
        <div>Technology</div>
      </div>
  
      <div class="team-area">
        <div class="single-team">
          <img src="../assets/image/iot1.jpg" width="50%">
          <div class="team-text">
            <h2>hi</h2>
            <p>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
            </p>
          </div>
        </div>
  
        <div class="single-team">
          <img src="../assets/image/full_stack_banner.jpg" width="50%">
          <div class="team-text">
            <h2>hi</h2>
            <p>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
            </p>
          </div>
        </div>
  
  
        <div class="single-team">
          <img src="../assets/image/industrial4.0.jpg" width="50%">
          <div class="team-text">
            <h2>hi</h2>
            <p>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
              <a class="linkimg">product</a>
            </p>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <div class="container3">
      <div class="container3tx">Our prestigious Client</div>
      <div class="demo">
        <carousel [images]="images" [height]="100" [autoplay]="true" [autoplayInterval]="500" [pauseOnHover]="true"
          [loop]="true" [arrows]="false">
        </carousel>
      </div>
    </div>
  
   -->
  </div>

</div>