/* .home-page{   
    display: grid;
    grid-template-columns: 185.5vh;
    grid-template-rows: 1fr 1fr 1fr;
    height: 177vh;
    grid-gap: 1px;  
   
}
.home-page .home-page-section{
    background-image: url(/assets/image/skyblue.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    word-spacing: 2px;
    text-transform: uppercase;

 } */
 /*
.text-box{
    width: 50%;
    color: #474446;
    position: absolute;
    top:30%;
    left: 25%;
    transform: translate(-50% -50%);
    text-align:center
}
.text-box h1{
    font-size: 40px;
    text-transform: uppercase;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: #474446;
    text-transform: capitalize;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid #000;
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid cadetblue;
    background:cadetblue;
    transform: 1s;
} */





/* 
.container2 {
    box-sizing: border-box;
    display: grid;
    grid-template-rows:  auto;
    top:0;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
}
.techheader {
    text-align: center;
}
.team-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50%;   
    width: 100%;
}
.single-team{
    width:300px;
    height: 150px;
    padding: 20px;
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition:  .6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.single-team:hover{
    transform: translateY(15px); 
}

.single-team:hover:before{
    opacity: 1; 
}


.single-team:hover.team-text{
    opacity: 1;
    transform:translateY(0); 
}

.single-team:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgb(145, 142, 142),transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}


.single-team img {
    width: 100%;
    height: 100%;
    position: absolute; 
    top:0;
    left: 0;
    object-fit: cover;
}
.single-team.team-text{
    position: relative;
   
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition:0.5s;
    
}
h2,h1,p{
    color: red;
}


.container3tx{
    text-transform: capitalize;
    padding: 50px;
    font-size: xx-large;
    color:darkcyan;
    text-align: center;
  
}
.demo{
    margin-top: 50px;
}


    

 */

.home-page{
    display:flex;
    /* margin-top: 34px; */
}
.section-bg-image1{
    position: relative;
    width: 100%;
}
.text-box{
    position: absolute;
    color:white;
    /* margin-top: -25%; */
    width: 50%;
    top:45%;
    left: 1%;
    transform: translate(-50% -50%);
    text-align:center
}
.heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    word-spacing: 2px;
    text-transform: uppercase;
    margin-top: 75px;
}
.text-box .home-page-description{
    margin: 40px 0 40px;
    font-size: 13px;
    color: #ddd;
    text-transform: capitalize;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#ddd;
    border: 1px solid #ddd;
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgba(34, 167, 240, 1);
    background:rgba(34, 167, 240, 1);
    transform: 1s;
    color:#000;
}
.section2-header{
    text-align: center;
    margin-bottom: 60px;
    font-size: 23px;
    margin-top: 38px;
    text-transform: capitalize;
}

.team-area{
    display: flex;
    margin-left: 155px;
}
.single-team img{
    width: 70%;
    height: 80%;
    border:1px solid #000;
    justify-content: center;
    cursor: pointer;
}
.single-team img:hover{
    /* transform: scale(1.2); */
    border:1px solid rgba(34, 167, 240, 1);
    border-radius: 12px;
    box-shadow: 8px solid black;
}
.section3-header{
    text-align: center;
    margin-bottom: 60px;
    font-size: 23px;
    margin-top: 38px;
    text-transform: capitalize;
}
.clients-carousel{
    width: 75%;
    padding: 15px;
    margin-left: 150px;
}
@media all and (max-width: 968px) {
    .section-bg-image1{
        width: 30%;
    }
    .text-box{
        width: 50%;
        top:3%;
        left: 1%;
    }
    .heading{
        font-size: 7px;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin-top: 75px;
    }
    .text-box .home-page-description{
        margin: 10px 0 7px;
        font-size: 7px;
    }
    .hero-btn{
        padding:2px 7px;
        font-size: 8px;
    }
    .section2-header{
        text-align: start;
        margin-bottom: 15px;
        font-size: 15px;
        margin-top: 16px;
        margin-left: 125px;
    }
    
    .team-area{
        display: contents;
        margin-left: 155px;
    }
    .single-team img{
        width: 20%;
        height: 80%;
        margin-left: 55px;
    }
    .section3-header{
        text-align: initial;
        margin-bottom: 40px;
        font-size: 15px;
        margin-top: 30px;
        margin-left: 57px;
    }
    .clients-carousel{
        width: 34%;
        padding: 15px;
        margin-left: 0px;
    }
}